* * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url('image/background\ image.jpg'); /* مسار الصورة */
    background-size: cover; /* لتغطية الخلفية بالكامل */
    background-position: center; /* لتوسيع الصورة في المركز */
    background-repeat: no-repeat; /* عدم تكرار الصورة */
}

header {
    background-color: rgba(76, 175, 80, 0.8); /* لون رأس الصفحة مع شفافية */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: white; /* لون النص في الروابط */
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

nav ul li a:hover {
    color: #e50914; /* لون النص عند التمرير */
}

section {
    margin: 20px;
    padding: 15px;
    background-color: white; /* لون خلفية القسم */
    border-radius: 5px; /* زوايا دائرية */
}

h1, h2 {
    margin: 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons i {
    margin: 0 10px;
    font-size: 24px; /* حجم الأيقونات الاجتماعية */
    transition: transform 0.3s ease, color 0.3s ease; /* تأثير الانتقال */
}

.social-icons i:hover {
    transform: scale(1.2); /* تكبير الأيقونة عند التحويم */
    color: #ffcc00; /* تغيير اللون عند التحويم (يمكنك تغييره حسب الحاجة) */
}








